body{
    background-color: beige;
}
main{
    display: flex;
    text-align: center;
    box-sizing: border-box;
    
}
.contenido{
    /* display: flex; */
    flex-basis: 80px;
    order: 1; 
    border: 2px solid black;
    margin: 2px;

}
.contenido2{
    /* display: flex; */
    flex-basis: 80px;
    order: 3;
    border: 2px solid black;
    margin: 2px;

    
}
.contenido3{
    /* display: flex; */
    flex-basis: 80px;
    order: 2;
    border: 2px solid black;
    margin: 2px;

  
}
.item{
    margin: 5px;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: gray;
}
section:nth-child(1)>div:first-child{
    background-color: darkslategray;
   
}

section:nth-child(2)>div:first-child{
    background-color: darkslategray;
   
}
section:nth-child(3)>div:first-child{
    background-color: darkslategray;

}

/* section:nth-child(2)>div:last-child{
    position: relative;
    top: 37px;
   
}
section:nth-child(3)>div:last-child{
    position: relative;
    top: 37px;

} */
