* {
    box-sizing: border-box;
}

body {
    min-width: 400px;
    background-color: #D2E8E3;
    

}
a{
    text-decoration: none;
    color: #D2E8E3;
}

.menu {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    padding: 2px;
    gap: 5px;
    height: 100vh;
    justify-content: center;
    align-content: center;

}

.menu  div{
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
    min-width: 150px;
    text-align: center;
    font-size: 30px;
    box-shadow: 7px 13px 37px #000;
    

}

.menu div:hover {
    background-color: #e4e4e4;
    transition: 0.5s;
}

.menu div:first-child {
    padding-top: 50%;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #0F6466;

}

.menu  div:nth-child(2) {
    font-size: 30px;
    padding-top: 50%;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #9DA65D;


}

.menu div:nth-child(2):hover {
    opacity: 0%;
    transition-duration: 3s;
    transition-property: 4s;

}

.menu  div:nth-child(3) {
    background-color: #FFCB9A;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;

}
.menu  div:nth-child(4) {
    padding-top: 20%;
    background-color: #D8B08C;
}
.menu div:nth-child(5) {
    padding-top: 20%;
    background-color: #592D14;
}
.menu div:nth-child(6) {
    padding-top: 20%;
    background-color: #51608C;
}


@media (max-width:720px) {
    .menu {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 70px 70px 70px 70px;
    }

    .menu div:first-child {
        padding-top: 0;
        background-color: #0f6622;
        grid-column: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;

    }

    .menu div:nth-child(2) {
        padding-top: 0;
        background-color: #D2E8E3;
        grid-column: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;

    }

    .menu div:nth-child(4) {
        padding-top: 0;
        background-color: #D8B08C;
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 6;

    }


    .menu div:nth-child(3) {
        padding-top: 0;
        background-color: #FFCB9A;
        grid-column-start: 2;
        grid-row-start: 6;

    }




}